body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

header {
  text-align: center;
  padding: 20px;
  background: #020617;
}

main {
  padding: 20px;
}

section {
  background: #020617;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 8px;
}

#btcPrecio {
  font-size: 1.5rem;
  font-weight: bold;
}
